# Chrony Konfiguration – Managed by Ansible (IAC-Ansible)
{% for server in bauergroup_ntp_servers %}
server {{ server }} iburst
{% endfor %}

driftfile /var/lib/chrony/chrony.drift
makestep 1.0 3
rtcsync
logdir /var/log/chrony
